* {
  margin: 0;
  padding: 0;
}

.container {
    width: 800px;
    border: 1px solid black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.row {
    border: 1px solid black;
}
.list-of-people {
    border-right: 1px solid black;
}
.unstyled {
    list-style-type: none;
}
.footer-info {
    text-align: right;
}
.footer-info a {
    color: #333;
}