* {
  margin: 0;
  padding: 0;
}

.container {
    width: 800px;
    border: 1px solid black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.row {
    border: 1px solid black;
}
/*
.list-of-people {
    border-right: 1px solid black;
}
*/
img {
    width: 31px;
    height: 34px;
    margin-right: 5px;
}
.unstyled {
    list-style-type: none;
}
.personal-task {
    position: relative;
}
.checked-true {
    background-color: palegreen;
    color: white;
}
.done-true {
    text-decoration: line-through;
}
.checkbox-done {
    position: absolute;
    right: 0;
    top: 10px;
}
.edit-assignment {
    position: relative;
}

.add-task {
    padding: 10px 0;
}
.clear-btn {
    float: right;
    margin-bottom: 10px;
}
.footer-info {
    text-align: right;
}
.footer-info a {
    color: #333;
}